.dmc-Select .mantine-Select-label{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.dmc-Text-accordionControl {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.dmc-Grid-center {
  align-items: center;
  justify-content: center;
}

.dmc-ChipGroup-legend {
  overflow-y: auto;
  max-height: 75vh;
}

/* dmc-Tabs-inline */
.dmc-Tabs-inline .mantine-Tabs-tabLabel {
  /* writing-mode: vertical-rl; */
  /* transform: rotate(-0.5turn); */
  font-size: 0.8rem;
  font-weight: normal;
}

.dmc-Tabs-inline .mantine-Tabs-tab{
  padding-top: 3px;
}

.dmc-Tabs-inline .mantine-Tabs-panel {
  padding-top: 3px;
}

.dmc-Text-setting-title {
  font-size: 1rem;
  font-weight: bold;
}

.dmc-Text-label {
  font-size: 1rem;
  font-family: Segoe UI; 
  font-weight: normal
}

.dmc-Text-label .dmc-Text-label-center {
  text-align: center;
  /* font-weight: bold; */
}

.dmc-Text-drawerTitle {
  font-size: 1.3rem;
}

.dmc-Text-drawerSubTitle {
  font-size: 0.7rem;
  color: gray;
  font-style: italic;
}

.dmc-Text-sidebar-title {
  font-size: 1.2rem;
  font-family: Segoe UI;
}

.dmc-Text-sidebar-tips {
  font-size: 0.8rem;
  font-style: italic;
  color: gray
}

.dmc-divider-sidebar-inline .mantine-Divider-label{
  font-size: 0.8rem;
  font-weight: bold;
  color: #4080ee;
}

.dmc-Drawer-plotPanels {
  overflow-y: scroll;
}
