
.fac-Layout {
    height: 94vh;
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
}

.fac-Sider {
    background-color: #FFFFFF;
    /* border: 1px solid #dee2e6; */
    overflow-y: scroll;
}

.fac-Layout .ant-layout-sider-trigger {
    /* set the position of sidebar trigger button */
    /* position: absolute !important; */
    background-color: #177d9a;
    border-radius: 10px;
}

.fac-Content {
    background-color: #FFFFFF;
}

.fuc-Grid {
    height: 100%;
}

.fuc-Grid .feffery-grid-item-dragger{
    /* dragger size */
    width: 24px;
}

.fuc-GirdItem {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

.fuc-Div-plotPanel-settings {
    border-radius: 10px;
    margin-bottom: 5px;
}

.fuc-div-plotPanel-gridItem {
    margin: -25px 0 0 0;
}