.dmc-card-signin-login {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    margin-top: calc( 47vh - 200px - 5vh);
}

.dmc-card-signup-login {
    width: 400px;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    margin-top: calc( 47vh - 270px);
}