.dmc-Tabs-dataset {
    height: 94vh;
}

.dmc-Group-upload-dataset {
    display: flex;
    justify-content: center;
    height: 70%;
}

.dmc-Alert-guest-dataset {
    width: 100%;
}

.dmc-TabsTab-sider-dataset {
    text-align: end;
}

.dmc-TabsList-sider-dataset {
    align-items: end;
}

.div-timeline-note-upload {
    font-size: 16px;
    color: #a1a1a1;
}

.div-upload-dataset {
    display: block;
    justify-content: center;
}

.dmc-card-dataset-upload {
    width: 30vw;
}

.fac-Popconfirm-delete-dataset {

}